<div class="container">

  <div class="card w-75 h-75 mx-auto">


    <% if @post.errors.any?%>
    <h3>The follwoing prevented submission!</h3>
    <% @post.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>
    <% end %>
    <!-- Default form contact -->


    <%= form_with(model: @post, class: "border border-light p-5", local: true ) do |form| %>

    <p class="h4 mb-4">
      <h3>Edit Post</h3>
    </p>



    <!-- Title -->
    <label for="">Title</label>
    <%= form.text_field :title, class: "form-control mb-4", value: @post.title  %>

    <%# <%= form.hidden_field :user_id, value: current_user.id  <%= content_tag(:option, category.name, value:category.id) %>
    <label for="">Current Category</label>
    <input type="text" value="<%= Category.find(@post.category_id).name %>" class="form-control" readonly> <br>
    <div class="form-group">
    <!-- Subject -->
    <label>Category</label>
    <%= form.select(:category_id,[],{}, {class: "browser-default custom-select"}) do %>
      <% Category.all.each do |category| %>
          <option value="<%= category.id %>" class="form-control" ><%= category.name %></option>
     <% end %>
    <% end %>
    </div>

    <!-- Body -->
    <label for="">Body</label>
    <div class="form-group">
      <%= form.text_area :body, class: "form-control rounded-0", rows: "3", placeholder: "Do your thing..."  %>
    </div>

    <!-- Send button -->
    <%= form.submit "Update", class: "btn btn-info btn-block", disable_with: 'Updating...' %>

    <% end %>

  </div>

</div>