 <div class="row d-flex justify-content-center">
  <div class="col-lg-10 text-center">

   
  <div class="card mx-auto">
      <h3 class=" card-header btn-default">Edit Post</h3>

    <% if @post.errors.any?%>
    <h3>The follwoing prevented submission!</h3>
    <% @post.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>
    <% end %>
    <!-- Default form contact -->


    <%= form_with(model: @post, class: "border border-light p-5", local: true ) do |form| %>

    <!-- Title -->
    <label for="">Title</label>
    <%= form.text_field :title, class: "form-control mb-4", value: @post.title  %>

    <div class="form-group">
    <!-- Subject -->
    <label>Category</label>
    <%= form.select(:category_id,[],{}, {class: "browser-default custom-select"}) do %>
      <% Category.all.each do |category| %>
        <%= content_tag(:option, category.name, value: category.id, :selected => category.id == @post.category_id )%>
     <% end %>
    <% end %>
    </div>

    <!-- Body -->
    <label for="">Body</label>
    <div class="form-group">
      <%= form.rich_text_area :body, style: "overflow-y: scroll; height: 200px;" %>
    </div>

    <!-- Send button -->
    <%= form.submit "Update", class: "btn btn-success", disable_with: 'Updating...' %>
    <%= link_to "Cancel", posts_path, class: "btn btn-warning" %>

    <% end %>

  </div>
  </div>
  </div>