<style>
  .btn-grp {
    display: inline-block;
  }

  .post {
    color: black;
  }

  .post:hover {
    color: blue;
    text-decoration: underline;
  }

  #content{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: clip; 
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-sm">

      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <% if user_signed_in? %>
        <div class="view overlay">

          <%
=begin%>
 <% if @user.profile.profile_pic.attached?%>
          <%= image_tag @user.profile.profile_pic, size: "200x200", class:"card-img-top" %>
          <% else %> 
<%
=end%>
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
            alt="Card image cap">
          <%
=begin%>
 <% end%> 
<%
=end%>
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <% end %>
        <!-- Card content -->
        <div class="card-body text-center">

          <!-- Title -->
          <h4 class="card-title">Profile</h4>
          <!-- Text -->
          <div class="card-text">

            <% if user_signed_in? %>
            <p><%= @user.profile ? @user.profile.full_name : 'User' %> </p>
            <% else %>
            <p>You aren't signed in!!</p>
            <% end %>

          </div>
          <!-- Button -->
          <% if user_signed_in?%>
          <%= link_to "Edit Profile", edit_profile_path(id: @user.id), class: "btn btn-primary btn-sm"%>
          <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-sm" %>
          <% end %>

        </div>

      </div>
      <!-- Card -->


      <%# new section %>
      <br>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <a href="posts/new" class="post">
        <div class="card w-100 h-25 p-3">
          <h3 class="text-center"> <%= image_tag "new.png"%> Make a post</h3>
        </div>
      </a><br>
      <% if @posts %>
      <% @posts.each do |post| %>

      <div class="card">
        <div class="card-body">
          <div class="card-title text-left"><span>
          <h6><small><%= post.user.profile ? post.user.profile.full_name : 'User' %> &#8226; <%= post.created_at.strftime("on %d/%m/%Y") %>
                </small></h6>
              <h5 class="d-inline"> <%= post.title%></h5>
          </div>
          <article class="card-text">
            <div id="content"><%= post.body %> </div>
          </article>
          <div class="row d-flex justify-content-center">
            <%= link_to "View More", post, class: "btn btn-sm btn-outline-primary btn-grp" %>
            <% if user_signed_in? && @user.id == post.user_id%>
            <%= link_to "Edit", edit_post_path(post), class: "btn btn-sm btn-outline-secondary btn-grp" %>
            <%= button_to "Delete", post_path(post), data: { turbolinks: false, confirm: "Are you sure?" }, method: :delete,  class: "btn btn-sm btn-outline-danger btn-grp" %>
            <% end %>
          </div>
        </div>
      </div> <br>
      <% end %>
      <% else %>
      <div class="card text-center">
        <div class="card-body">
          <div class="card-text">
            <h3>No Articles Available <i class="far fa-sad-tear"></i></h3>
            <h5>Be the first to make a post</h5>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  <div class="col-sm mt-5">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Information</li>
        <li class="list-group-item">Entertainment</li>
        <li class="list-group-item">Personal</li>
      </ul>
    </div>
  </div>

  <%# end of row %>
</div>
</div> <br>