<!DOCTYPE html>
<html>

<head>
    <title>Disqus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "bootstrap", "mdb" %>
    <%= javascript_include_tag "jquery", "bootstrap" %>
    <%= javascript_include_tag "mdb", "popper.min" %>

</head>

<body>

    <style>
        body {
            background-color: #f5f5f5;
            /* background-image: url('assets/bg1.jpg');  */
            background-size: cover;
        }
    </style>

    <%= render  "partials/navbar" %>
    <br><br>

    <%# Flash messages %>
    <% flash.each do |name, msg| %>
      <p> <%= msg%> </p>
    <% end %>

    <%= yield %>

    <br><br>

    <!-- Footer -->
    <footer id="main-footer" class="py-4 bg-primary text-white text-center bottom">
        Copyright &copy;
        <span class="year"></span> BT Real Estate
    </footer>

</body>

</html>